<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/config.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/formCriarOferta.css">
    <title>MPA</title>
</head>
<body>
    <div id="container">
        <header id="cabecalho">
            <div class="containerLogo">
                <h1 id="tituloPrincipal">Market Planejadores Agroind</h1>
            </div>

            <span id="burger" class="material-icons" onclick="ocultar()">menu</span>
            <menu id="itensMenu">
                <ul class="menu-list">

                    <li><a href="/users" class="menu-item"><span class="material-icons item">home</span>Home</span></a></li>
                    <li><a href="/users/market" class="menu-item"><span class="material-icons item">store</span> Market</a></li>
                    <li><a href="/users/rewards" class="menu-item"><span class="material-icons item">emoji_events</span>Prêmios</a></li>
                    <li><a href="#" class="menu-item"><span class="material-icons item">settings</span>Configurações</a></li>
                    <li><a href="/" class="menu-item"><span class="material-icons item">logout</span>Encerrar Seção</a></li>
                </ul>
            </menu>
        </header>

        <main id="secaoPrincipal">

            <form action="/users" method="POST" class="formOferta">

                <label class="label" for="tipoOperacao" class="label">Tipo de operação</label>
                <select name="tipoOperacao" id="tipoOperacao" size="1" class="input">
                    <option value="Venda">Venda</option>
                    <option value="Compra">Compra</option>
                </select>

                <label class="label" for="codigoInsumo">Código do Insumo</label>
                <input type="number" name="codigoInsumo" id="codigoInsumo" required class="input"min="3000000" max="3999999" minlength="7" maxlength="7">

                <label class="label" for="descricaoInsumo">Descrição SAP</label>
                <input type="text" name="descricaoInsumo" id="descricaoInsumo" disabled class="input">

                <label class="label" for="nomeComercial">Nome Comercial</label>
                <input type="text" name="nomeComercial" required id="nomeComercial" class="input">

                
                <label class="label" for="quantidadeProduto">Quantidade Insumo</label>

                <div class="boxQtdInsumo">
                    <input type="number" name="quantidadeProduto" required id="quantidadeProduto" class="input quantidade" min="1">
                    <input type="text" name="unidadeMedida" id="unidadeMedida" disabled class="input unidade">
                </div>

                <label class="label" for="observacao">Observação</label>
                <textarea name="observacao" id="observacao" cols="30" rows="10" class="input"></textarea>

                <input type="submit" value="Criar Oferta" class="input submit">
            </form>

        </main>

        <footer id="rodape">
            <p>Criado por <strong>@DaniloIDS - 2023</strong> - Todos os direitos reservados</p>
        </footer>
    </div>

    <script>
        function ocultar(){
            if(itensMenu.style.display == 'block'){
                itensMenu.style.display = 'none'
            } else{
                itensMenu.style.display = 'block'
            }
        }
    </script>
</body>
</html>