<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/config.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/formLogin.css">
    <title>MPA</title>
</head>
<body>
    <div id="container">
        <header id="cabecalho">
            <div class="containerLogo">
                <h1 id="tituloPrincipal">Market Planejadores Agroind</h1>
            </div>

        </header>

        <main id="secaoPrincipal">

            <img src="../assets/img/logoMarket.svg" alt="logo Market Planejadores" class="logoMarket">
            
            <form action="/"  id="login">

                <label for="nomeUsuario" class="label">Nome Usuário</label>
                <input type="text" name="nomeUsuario" id="nomeUsuario" maxlenght="8">
            
                <label for="senha" class="label">Senha</label>
                <input type="password" name="senhaUsuario" id="senhaUsuario">
                
                <!-- <input type="submit" value="Acessar" id="botaoLogin"> -->
                
            </form>

            <!-- Provisório -->
            <a href="/templates/auth.html" id="botaoLogin" style="display: block; max-width: 90%; margin: 0 auto; text-align: center;">Acessar</a>


        </main>

        <footer id="rodape">
            <p>Criado por <strong>@DaniloIDS - 2023</strong> - Todos os direitos reservados</p>
        </footer>
    </div>

    <script>
        function ocultar(){
            if(itensMenu.style.display == 'block'){
                itensMenu.style.display = 'none'
            } else{
                itensMenu.style.display = 'block'
            }
        }
    </script>
</body>
</html>
