<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/config.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="stylesheet" href="../styles/market.css">
    <title>MPA</title>
</head>
<body>
    <div id="container">
        <header id="cabecalho">
            <div class="containerLogo">
                <h1 id="tituloPrincipal">Market Planejadores Agroind</h1>
            </div>

            <span id="burger" class="material-icons" onclick="ocultar()">menu</span>
            <menu id="itensMenu">
                <ul class="menu-list">

                    <li><a href="/MPA/" class="menu-item"><span class="material-icons item">home</span>Home</span></a></li>
                    <li><a href="templates/create-offer.html" class="menu-item"><span class="material-icons item">attach_money</span>Criar Oferta</span></a></li>
                    <li><a href="#" class="menu-item"><span class="material-icons item">emoji_events</span>Prêmios</a></li>
                    <li><a href="#" class="menu-item"><span class="material-icons item">settings</span>Configurações</a></li>
                </ul>
            </menu>
        </header>

        <main id="secaoPrincipal">

            <div class="filtros">
                <label for="filtroOferta" class="label">Filtro Oferta</label>
                <select name="filtroOferta" id="filtroOferta" class="input filtro">
                    <option value="ofertaCompra">Compra</option>
                    <option value="ofertaVenda">Venda</option>
                </select>
                <label for="filtroUnidade" class="label">Filtro Unidade</label>
                <select name="filtroUnidade" id="filtroUnidade" class="input">
                    <option value="unidade1">Unidade 1</option>
                    <option value="unidade2">Unidade 2</option>
                    <option value="unidade3">Unidade 3</option>
                    <option value="unidade4">Unidade 4</option>
                    <option value="unidade5">Unidade 5</option>
                    <option value="unidade6">Unidade 6</option>
                </select>
            </div>

            <div class="ofertas">

                <div class="boxOferta">
                    <p class="tipoOferta">Compra</p>
                    <ul class="info-principal">
                        <li class="info"><span class="realce-info">Código:</span>  3504998</li>
                        <li class="info"><span class="realce-info">Descrição SAP:</span> Produto X Y Z da ordem de Merlin 1 de Santo Antonio da Padroeita</li>
                        <li class="info"><span class="realce-info">Quantidade:</span> 300 KG</li>
                        <li class="info"><span class="realce-info">Nome comercial:</span> Joya</li>
                    </ul>
                    
                    <div class="detalhesCard">
                        <p class="exibirDetalhes">Exibir Detalhes ...</p>
                        <ul class="info-secundaria">
                            <li class="info"><span class="realce-info">Unidade Remetente:</span> IDS Company</li>
                            <li class="info"><span class="realce-info">Planejador:</span> Danilo IDS</li>
                            <li class="info"><span class="realce-info">Oferta criada em:</span> 20/07/2023 11:59</li>
                            <li class="info"><span class="realce-info">Oferta expira em:</span> 27/07/2023 11:59</li>
                            <li class="info"><span class="realce-info">Observação:</span> </li>
                            <p class="ocultarDetalhes">Ocultar Detalhes ...</p>
                        </ul>    
                        <button class="botaoAcao">Comprar</button>
                    </div>
                </div>

                <div class="boxOferta">
                    <p class="tipoOferta">Venda</p>
                    <ul class="info-principal">
                        <li class="info"><span class="realce-info">Código:</span>  3504998</li>
                        <li class="info"><span class="realce-info">Descrição SAP:</span> Produto X Y Z da ordem de Merlin 1 de Santo Antonio da Padroeita</li>
                        <li class="info"><span class="realce-info">Quantidade:</span> 300 KG</li>
                        <li class="info"><span class="realce-info">Nome comercial:</span> Joya</li>
                    </ul>
                    
                    <div class="detalhesCard">
                        <p class="exibirDetalhes">Exibir Detalhes ...</p>
                        <ul class="info-secundaria">
                            <li class="info"><span class="realce-info">Unidade Remetente:</span> IDS Company</li>
                            <li class="info"><span class="realce-info">Planejador:</span> Danilo IDS</li>
                            <li class="info"><span class="realce-info">Oferta criada em:</span> 20/07/2023 11:59</li>
                            <li class="info"><span class="realce-info">Oferta expira em:</span> 27/07/2023 11:59</li>
                            <li class="info"><span class="realce-info">Observação:</span> </li>
                            <p class="ocultarDetalhes">Ocultar Detalhes ...</p>
                        </ul>    
                        <button class="botaoAcao">Comprar</button>
                    </div>
                </div>



                <!-- ============================================ -->



               
            </div>
        

        </main>

        <footer id="rodape">
            <p>Criado por <strong>@DaniloIDS - 2023</strong> - Todos os direitos reservados</p>
        </footer>
    </div>
    <script src="../scripts/market.js"></script>
    <script>
        function ocultar(){
            if(itensMenu.style.display == 'block'){
                itensMenu.style.display = 'none'
            } else{
                itensMenu.style.display = 'block'
            }
        }
    </script>
</body>
</html>