.ofertas{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.boxOferta{
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid rgba(131, 131, 131, 0.438);
    box-shadow: 2px 2px 20px 4px rgba(139, 139, 139, 0.438);
    border-radius: 10px;
    
}

.info{
    padding-top: 0.5rem;
}

.realce-info{
    font-weight: 600;
    color: var(--contraste);
    font-family: Tahoma, Verdana, sans-serif;
}

.exibirDetalhes{
    padding: 1rem 0;
    display: block;
    font-weight: 600;
    color: rgb(0, 0, 180);
    cursor: pointer;
}

.tipoOferta{
    padding: 1rem;
    background-color: var(--destaque);
    max-width: 6rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.info-secundaria{
    display: none;
}